@import "tailwindcss";

@theme {
  --font-noah: "Noah", system-ui, sans-serif;
  --font-waffle: "Waffle Soft", system-ui, sans-serif;
  --font-sans: var(--font-noah); /* Make Noah the default sans font */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noah);
  --font-waffle: var(--font-waffle);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noah);
}
